<html>
  <head>
    <title>Licet Events -Eligible Envision</title>
    <link rel="stylesheet" href="/public/css/dept_style.css" />
  </head>

  <body>
    <nav>
      <div class="logo">
        <img src="/public/images/logo.png" width="100px" height="100px" />
      </div>
      <div class="menu">
        <a href="/home">Home</a>
        <a href="/events">EVENTS</a>
        <a href="/dept_cards">department</a>
        <a href="/calendar">calender</a>
        <a href="/community">Community</a>
      </div>
    </nav>
    <div class="container">
      <a class="card1" href="/cse">
        <h3>CSE</h3>
        <p class="small">Computer Science and Engineering events</p>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card1" href="/it">
        <h3>IT</h3>
        <p class="small">Information and Technology events</p>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card1" href="/ece">
        <h3>ECE</h3>
        <p class="small">Electronics and Communication Engineering events</p>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card1" href="/eee">
        <h3>EEE</h3>
        <p class="small">Electronics and Electrical Engineering events</p>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>

      <a class="card1" href="/mech">
        <h3>MECH</h3>
        <p class="small">Mechanical Engineering events</p>
        <div class="go-corner" href="#">
          <div class="go-arrow">→</div>
        </div>
      </a>
    </div>
  </body>
</html>
