<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EEE Events</title>
    <link rel="stylesheet" href="/public/css/eee_style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/public/images/logo.png" width="100px" height="100px" />
      </div>
      <div class="menu">
        <a href="/home">Home</a>
        <a href="/events">EVENTS</a>
        <a href="/dept_cards">department</a>
        <a href="/calendar">calender</a>
        <a href="/community">Community</a>
      </div>
    </nav>
    <div class="event-container">
      <h3 class="year">EEE</h3>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">8</div>
            <div class="month">Nov</div>
            <div class="venue">E11</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Seminar on power system engineering</h3>

          <div class="event-description">1st year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">22</div>
            <div class="month">Dec</div>
            <div class="venue">GO1</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">A circuit design and hacking competition</h3>

          <div class="event-description">3rd year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:45 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">8</div>
            <div class="month">Jan</div>
            <div class="venue">F11</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">
            Sensor technology and applications workshop
          </h3>

          <div class="event-description">4th year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">9</div>
            <div class="month">Mar</div>
            <div class="venue">GO1</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">circuit workshops</h3>

          <div class="event-description">2nd year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:30 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">4</div>
            <div class="month">Apr</div>
            <div class="venue">A12</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">
            Guest lecture series on cutting-edge topics
          </h3>

          <div class="event-description">2nd year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">8</div>
            <div class="month">Jun</div>
            <div class="venue">GO1</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">
            Inviting industry experts for insightful talks
          </h3>

          <div class="event-description">2nd year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
