<!DOCTYPE html>
<html>
  <head>
    <script src="/public/js/engenia_script.js"></script>
    <title></title>
    <link rel="stylesheet" href="/public/css/home_style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="/public/images/logo.png" width="100px" height="100px" />
        </div>
        <div class="menu">
          <a href="/home">Home</a>
          <a href="/events">EVENTS</a>
          <a href="/dept_cards">department</a>
          <a href="/calendar">calender</a>
          <a href="/community">Community</a>
        </div>
      </nav>
      <main>
        <section>
          <p class="engenia_display">LICET EVENTS</p>
          <h1>
            <span class="change_content"> </span>
          </h1>
          <p>"Let your light shine"</p>
        </section>
      </main>
    </header>
  </body>
</html>
