<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MECH Events</title>
    <link rel="stylesheet" href="/public/css/mech_style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/public/images/logo.png" width="100px" height="100px" />
      </div>
      <div class="menu">
        <a href="/home">Home</a>
        <a href="/events">EVENTS</a>
        <a href="/dept_cards">department</a>
        <a href="/calendar">calender</a>
        <a href="/community">Community</a>
      </div>
    </nav>
    <div class="event-container">
      <h3 class="year">MECH</h3>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">5</div>
            <div class="month">sept</div>
            <div class="venue">GO1</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">seminar on design thinking</h3>

          <div class="event-description">3rd year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">18</div>
            <div class="month">oct</div>
            <div class="venue">F11</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">session on automobiles</h3>

          <div class="event-description">4th year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:45 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">19</div>
            <div class="month">oct</div>
            <div class="venue">F11</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">
            guest lecture on Engineering design techniques
          </h3>

          <div class="event-description">4th year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">15</div>
            <div class="month">nov</div>
            <div class="venue">A12</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Workshop on fluid dynamics</h3>

          <div class="event-description">2nd year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:30 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">6</div>
            <div class="month">dec</div>
            <div class="venue">GO1</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">
            talk on thermal combustion and its applications
          </h3>

          <div class="event-description">3rd year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">13</div>
            <div class="month">jan</div>
            <div class="venue">F11</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">mechatrons Challenge</h3>

          <div class="event-description">4th year</div>

          <div class="event-timing">
            <img src="images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
